* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../imgs/bg.png") no-repeat center 0 fixed;
  background-size: auto;
  position: relative;
}
.searsh {
  position: absolute;
  width: 664px;
  left: 50%;
  margin-left: -332px;
  top: 220px;
  display: flex;
  background: #00000000;
  border-radius: 0.0875rem;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  animation: myshadow1 0.3s;
  user-select: none;
}
.searsh:hover {
  animation: myshadow2 0.3s;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}
.searsh .cgEngine {
  width: 54px;
  height: 54px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 0.0875rem;
  border-bottom-left-radius: 0.0875rem;
  cursor: pointer;
}
.searsh .cgEngine img {
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.searsh .cgEngine:hover {
  background: #eeeeee !important;
}
.searsh .inputBar {
  width: 530px;
  height: 54px;
  border: 0px solid #fff;
  outline: 0px solid #fff;
  font-size: 0.245rem;
  padding-left: 7px;
  padding-right: 7px;
  background: rgba(255, 255, 255, 0.9);
}
.searsh .searshBtn {
  width: 80px;
  border: 0px solid #fff;
  background: rgba(255, 255, 255, 0.9);
  border-top-right-radius: 0.0875rem;
  border-bottom-right-radius: 0.0875rem;
  font-size: 0.2rem;
  cursor: pointer;
}
.searsh .searshBtn:hover {
  background: #eeeeee !important;
}
.searsh .searshBtn:focus {
  outline: 0px solid #00000000 !important;
}
.searsh .searshBtn:active {
  background: #d9d9d9 !important;
}
@keyframes myshadow1 {
  0% {
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  }
}
@keyframes myshadow2 {
  0% {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  }
}
.sugList {
  position: absolute;
  width: 664px;
  left: 50%;
  margin-left: -332px;
  top: 282px;
}
.sugList ul {
  background: #fff;
  width: 664px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.0875rem;
  margin: 0 auto;
  list-style-type: none;
}
.sugList li {
  background: fff;
  border-radius: 0.0875rem;
  height: 54px;
  line-height: 54px;
  font-size: 0.22rem;
  text-align: left;
  user-select: none;
  display: flex;
}
.sugList li div {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.sugList li img {
  width: 24px;
  height: 24px;
}
.sugList li:hover {
  background: #ededed !important;
  border-radius: 0.0875rem;
  cursor: pointer;
}
